.app {
  min-width: 400px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
} 

#loaded {
  display: none;
}

.button {
  padding: 14px;
  margin: 8px;
}

.album-cover {
  max-width: 35px;
  max-height: 35px

}

.songs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
}

.add {
  align-self: stretch;
  width: 10%
}

/* .header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
} */
